body {
  font-family: "HK Grotesk", Arial;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  background-color: #ffffff;
  color: #333333;
}

@font-face {
  font-family: "HK Grotesk";
  src:  url(../media/fonts/hk-grotesk.woff), url(../media/fonts/hk-grotesk.woff2);
}

header {
  position:  fixed;
  top: 36px;
  left: 36px;
  z-index: 1;
    transition:  color 0.5s;
}

header.white {
  color:  white;
}

div.progress.white {
  background-color: white;
}

div.progress {
  position:  fixed;
  top:  0;
  left:  0;
  width: 0;
  height: 10px;
  background-color: black;
  width: 0%;
  z-index:  1;
    transition:  background-color 0.5s;
}

section {
  background-color:  #c8dee0;
  min-height:  100vh;
  padding:  80px;
  display:  flex;
  justify-content:  center;
  align-items:  center;
}

div.content {
  position:  relative;
}

div.square {
  width:  100px;
  height:  100px;
  background-color: #d54156;
  position:  absolute;
  top:  50px;
  left:  -50px;
}

div.circle {
  width:  100px;
  height:  100px;
  background-color: #5982a0;
  border-radius:  50%;
  
  position:  absolute;
  bottom:  50px;
  right:  -50px;
}

div.content img {
  position: relative;
}

div.content img:nth-child(odd) {
  max-width: 60vw;
}

div.content img:nth-child(even) {
  max-width: 75vw;
}

.s2 {
  background-color:  #c5c5c5;
}

.s2 div.square {
  background-color:  #be3c52;
}

.s2 div.circle {
  background-color:  #d6ac35;
}

.s3 {
  background-color: #292121;
}

.s3 div.square {
  background-color:  #5f3736;
}

.s3 div.circle {
  background-color:  #6e5f67;
}

.s4 {
  background-color: #f3f1f2;
}

.s4 div.square {
  background-color:  #d54156;
}

.s4 div.circle {
  background-color:  #5982a0;
}

@keyframes fadein {
  0% {opacity:  0;}
  100% {opacity:  1;}
}

